@media only screen and(min-width:375px){
    
    /*menu y navbar*/
    
    #navegador{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 0.5fr 0.3fr;
        grid-template-rows: 40px 2fr;
        row-gap: 20px;
        grid-template-areas:

        "prom prom prom"
        "naveg none logo"
        ;
    }

    .promocional{
        p{
            font-size: 14px;        
            line-height: 13px;
        }
    }

    .mi__logo{
        margin: 8px 15px;
        width: 100px;
    }

    .navbar{
        width: 100%;
        padding-left: 20px;
    }

    .user{
        display: none;
    }

    #division__objetivos{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: 0.5fr 2fr 0.5fr;
        grid-template-rows: repeat(4fr);
        row-gap: 30px;
        grid-template-areas: 
        
        ". textobj ."
        ". objetivos ."
        ". objetivos ."
        ". objetivos ."

        ;

        .titulo__objetivos{
            margin-top: 40px;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .objetivos__list{
            width: 310px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            img{
                width: 100%;
            }

            h4{
                font-size: 35px;
                font-weight: bold;
                text-align: center;
                margin-top: 20px;
            }

            p{
                font-size: 14.5px;
                text-align: justify;
            }

            .ilustracion{
                margin-top: 10px;
            }

            .marca{
                margin-top: 50px;
                div h4{
                    line-height: 30px;
                }
            }

            .programar{
                margin-top: 50px;
                margin-bottom: 40px;
            }
        }
    }

    .footer{   
        p{
            width: 340px;
            margin-top: 10px;
            font-size: 15px;
            line-height: 15px;
        }
    }    
}